.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 98px);
  margin-top: 98px;

  .logo-left {
    position: absolute;
    display: block;
    left: 0;
    top: 384px;
  }

  .logo-right {
    position: absolute;
    display: block;
    right: 0;
    top: 409px;
  }

  .slogan {
    font-size: 64px;
    line-height: 92px;
    color: #fff;
  }

  .step-container {
    .step-item {
      color: #fffdfd;

      &:before {
        background: #fffdfd;
      }
    }

    hr {
      border-color: #fffdfd;
    }
  }

  .ready-go {
    .ready-text {
      font-size: 16px;
      color: #fff;
      margin-bottom: 16px;
    }

    button {
      font-size: 32px;
      color: #000;
      padding: 19px 65px;
      border-radius: 20px;
      background: #fff;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}
